<h1>Listing providers</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Endpoint url</th>
    <th>Metadata prefix</th>
    <th>Set</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @providers.each do |provider| %>
  <tr>
    <td><%= provider.name %></td>
    <td><%= provider.description %></td>
    <td><%= provider.endpoint_url %></td>
    <td><%= provider.metadata_prefix %></td>
    <td><%= provider.set %></td>
    <td><%= link_to 'Show', provider %></td>
    <td><%= link_to 'Edit', edit_provider_path(provider) %></td>
    <td><%= link_to 'Destroy', provider, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Provider', new_provider_path %>
